* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
   color: rgb(4, 6, 84);
   text-transform: uppercase;
   border: 10px solid rgb(4, 6, 84);
   padding: 4vmin;
   margin-top: -400px;
   margin-left: 40px;
}

.grid {
    width: 560px;
    height: 560px;
    border: 10px solid rgb(4, 6, 84);
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: green;
    border: 5px solid bisque;
    box-sizing: border-box;
}

.ghost-lair {
    background-color: rgb(80, 205, 134);
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: brown;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: coral;
}

.clyde {
    background-color: chocolate;
}

.pac-man {
    background-color: black;
    border-radius: 10px;
}

.scared-ghost {
    background-color: black;
}
